sentence-transformers
fastapi-slim
uvicorn
numpy
cachetools
orjson
langchain[all-documents]
langchain[unstructured]
langchain-community
unstructured
python-docx
python-pptx
openpyxl
pdfminer.six
pypdf
pdf2image
python-multipart